@page {
  size: 2.5in 1.5in;
  margin: 0;
}

html, body {
  margin: 0;
}

.single-print {
  width: 2.5in;
  height: 1.5in;
}

.print-body {
  font-family: "Arial", sans-serif;
}

.single-print {
  display: flex;
  align-items: center;
  justify-content: center;
}

.batch-print {
  display: block;
}

.tag {
  width: 100%;
  height: 100%;
  padding: 0.2in;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tag-page {
  width: 2.5in;
  height: 1.5in;
  page-break-after: always;
  break-after: page;
  break-inside: avoid;
}

.tag-page:last-child {
  page-break-after: auto;
}

.tag-name {
  font-size: clamp(18pt, 10vw, 28pt);
  font-weight: 700;
  line-height: 1.1;
  word-break: break-word;
}

.tag-name.small {
  font-size: 16pt;
}

.tag-name.tiny {
  font-size: 13pt;
}

.tag-sub {
  font-size: 10pt;
  margin-top: 0.1in;
}
