{% load i18n %}

{% if app_list %}
  {% for app in app_list %}
    {% if app.app_label != "auth" %}
      <div class="app-{{ app.app_label }} module">
        <table>
          <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">{{ app.name }}</a>
          </caption>
          {% for model in app.models %}
            {% if model.object_name != "SystemSetting" and model.object_name != "User" %}
              <tr class="model-{{ model.object_name|lower }}">
                {% if model.admin_url %}
                  <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% else %}
                  <th scope="row">{{ model.name }}</th>
                {% endif %}

                {% if model.add_url %}
                  <td><a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
                {% else %}
                  <td></td>
                {% endif %}

                {% if model.admin_url %}
                  <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Edit' %}</a></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
    {% endif %}
  {% endfor %}

  <div class="app-configuration module">
    <table>
      <caption>
        <a href="#" class="section">Configuration &#9881;</a>
      </caption>
      {% for app in app_list %}
        {% for model in app.models %}
          {% if model.object_name == "User" %}
            <tr class="model-{{ model.object_name|lower }}">
              {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
              {% else %}
                <th scope="row">{{ model.name }}</th>
              {% endif %}

              {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
              {% else %}
                <td></td>
              {% endif %}

              {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Edit' %}</a></td>
              {% else %}
                <td></td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
      <tr class="model-systemsetting-bulk">
        <th scope="row"><a href="{% url 'admin:core_systemsetting_bulk' %}">System settings</a></th>
        <td></td>
        <td><a href="{% url 'admin:core_systemsetting_bulk' %}" class="changelink">{% translate 'Edit' %}</a></td>
      </tr>
      <tr class="model-audit-log-report">
        <th scope="row"><a href="{% url 'audit_log_report' %}">Audit log</a></th>
        <td></td>
        <td><a href="{% url 'audit_log_report' %}" class="changelink">{% translate 'View' %}</a></td>
      </tr>
    </table>
  </div>
{% else %}
  <p>{% translate "You don't have permission to view or edit anything." %}</p>
{% endif %}
